body {
    height: 100vh;
    background-image: url('https://img.ibxk.com.br/2019/08/21/21181848906213.jpg?w=1120&h=420&mode=crop&scale=both');
    background-size: 100%;
}

input[type="text"] {
    width: 138%;
    height: 63px;
}

